<section id="section-author-edit">
  <div class="row justify-content-between">
    <div class="col-12 col-md">
      <%= render 'layouts/display_title', {title: 'Edit author'} %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <%= render 'authors/form' %>
      <%= button_to 'Delete Author', author_path(@author), method: :delete, data: {confirm: "Are you sure?"},
                    class: 'btn btn-danger mt-1'%>
    </div>
  </div>
</section>