<section id="section-author-index">
    <div class="row justify-content-between">
      <div class="col-auto">
        <%= render 'layouts/display_title', {title: 'Authors index'} %>
      </div>
      <div class="col text-right align-self-center">
        <%= link_to 'New Author', new_author_path, method: 'get', class: 'btn btn-primary' %>
      </div>
    </div>
    <hr>
    <div class="row">
      <%= render 'authors/grid', {authors: @authors}%>
    </div>
</section>
