<section id="section-library-edit-authors">
  <div class="row justify-content-between">
    <div class="col-12 col-md">
      <%= render 'layouts/display_title', {title: 'Edit library authors'} %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <%= simple_form_for @library, url: update_authors_library_path(@library) do |f| %>
        <%= f.association :authors, label: '', collection: Author.all, as: :check_boxes%>
        <%= f.button :submit, class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</section>