<section id="section-book-index">
<!--  <div class="container">-->
    <div class="row justify-content-between">
      <div class="col-auto">
        <h1 class="display-1">Books index</h1>
      </div>
      <div class="col text-right align-self-center">
        <%= button_to 'Add Book', new_book_path, method: 'get', class: 'btn btn-primary' %>
      </div>
    </div>

    <hr>

    <div class="row">
      <%= render 'books/grid', {books: @books}%>
    </div>

<!--  </div>-->
</section>
