<section id="section-book-index">
  <div class="row justify-content-between">
    <div class="col-auto">
      <%= render 'layouts/display_title', {title: 'Books index'} %>
    </div>
    <div class="col text-right align-self-center">
      <%= link_to 'New Book', new_book_path, method: 'get', class: 'btn btn-primary' %>
    </div>
  </div>

  <hr>

  <div class="row">
    <%= render 'books/grid', {books: @books}%>
  </div>
</section>
