<section id="section-book-new">
  <div class="row justify-content-between">
    <div class="col-12 col-md">
      <%= render 'layouts/display_title', {title: 'New book'} %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <%= render 'books/form' %>
    </div>
  </div>
</section>
