<div class="container">
  <div class="row">
    <%
      classes = {
        'error' => 'danger',
        'success' => 'success'
      }
      fallback = 'info'
    %>
    <% flash.each do |key, value| %>
      <div class="col-12 p-2">
        <%= content_tag :div, value, class: "alert alert-#{classes[key] || fallback} m-0 text-center" %>
      </div>
    <% end %>
  </div>
</div>